<% if (modalOpen === "downloadPage") { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const popover = document.getElementById("downloadPageDialog");

    popover.inert = true;

    popover.showModal();

    popover.inert = false;
  });
</script>
<% } %>

<dialog id="downloadPageDialog" class="modal">
  <div class="dialogHeader">
    <div class="dialogTitleContainer">
      <% if ( values.userId === allData?.id ) { %>
      <img src="/assets/icons/share.svg" alt="Download icon" />
      <% }else{
        %>
      <img src="/assets/icons/download.svg" alt="Download icon" />
      <% } %>

      <p class="dialogTitle">
        <% if ( values.userId === allData?.id ) { %> Share this image <% }else{
        %> Download this image <% } %>
      </p>
    </div>

    <button class="closeBtn" commandfor="downloadPageDialog" command="close">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <div class="sharePageContainer">
    <div class="sharePagePreview">
      <img
        class="sharePagePreivewImage"
        src="/uploads/<%= values?.file_name%>"
        alt=""
      />
      <div class="sharePagePreviewInfo">
        <table class="sharePagePreviewInfoTable">
          <tr>
            <th>File name<span class="fileDetailsTitleColon">:</span></th>
            <td class="sharePagePreviewTitle">
              <%= values?.file_name_short %>
            </td>
          </tr>

          <tr>
            <th>File size<span class="fileDetailsTitleColon">:</span></th>
            <td class="sharePagePreviewSize"><%= values?.file_size %></td>
          </tr>

          <tr>
            <th>Created at<span class="fileDetailsTitleColon">:</span></th>
            <td class="sharePagePreviewSize">
              <%= values?.readableCreationDate %>
            </td>
          </tr>

          <tr>
            <th>Expires at<span class="fileDetailsTitleColon">:</span></th>
            <td class="sharePagePreviewSize">
              <%= values?.readableExpiryDate %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="shareContainer">
      <p class="shareContainerLabel">Share code:</p>
      <div class="shareCodeContainer containerWithCopyBtn">
        <p class="shareCode" id="fileShareCode"><%= values?.id %></p>
        <button
          class="shareCodeCopyBtn"
          type="button"
          commandfor="fileShareCode"
          command="--copy"
        >
          <img src="/assets/icons/copy.svg" alt="" draggable="false" />
        </button>
      </div>
      <div class="shareQRCode"><%- values?.qrcode %></div>

      <div class="shareUrlContainer containerWithCopyBtn">
        <div class="shareUrl" id="fileUrl"><%- values?.shareUrl %></div>
        <button
          class="shareUrlCopyBtn"
          type="button"
          commandfor="fileUrl"
          command="--copy"
        >
          <img src="/assets/icons/copy.svg" alt="" />
        </button>
      </div>
    </div>

    <a
      type="button"
      class="submitBtn downloadBtn"
      href="/uploads/<%= values?.file_name %>"
      download="<%= values?.file_name %>"
      >Download</a
    >
  </div>
</dialog>
