<% if (modalOpen === "upload") { %>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("uploadPopover").showModal();
  });
</script>
<% } %>

<dialog id="uploadPopover" class="slideIn">
  <div class="popoverHeader">
    <div class="popoverTitleContainer">
      <% if (modalOpen === "upload" && modalContent === "sharePage") { %>
      <img src="/assets/icons/share.svg" alt="Share icon" draggable="false" />
      <p class="popverTitle">Share the image</p>
      <% } else{ %>
      <img src="/assets/icons/upload.svg" alt="Upload icon" draggable="false" />
      <p class="popverTitle">Upload an image</p>
      <% } %>
    </div>
    <button class="closeBtn">
      <img src="/assets/icons/close.svg" alt="Close icon" />
    </button>
  </div>

  <% if (modalOpen==="upload" && modalContent === "sharePage") { %>
  <div class="uploadFormSharePage">
    <div class="sharePagePreview">
      <img
        class="sharePagePreivewImage"
        src="/uploads/<%= data.post.file_name%>"
        alt=""
      />
      <div class="sharePagePreviewInfo">
        <table class="sharePagePreviewInfoTable">
          <tr>
            <th>File name:</th>
            <td class="sharePagePreviewTitle"><%= data.post.file_name %></td>
          </tr>

          <tr>
            <th>File size:</th>
            <td class="sharePagePreviewSize"><%= data.file.size %></td>
          </tr>

          <tr>
            <th>Expires at:</th>
            <td class="sharePagePreviewSize">
              <%= data.body.readableExpiryDate %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="shareCodeContainer">
      <p class="shareCodeLabel">Share code:</p>
      <div class="shareCodeShow">
        <p class="shareCode"><%= data.post.id %></p>
        <button class="shareCodeCopyBtn" type="button">
          <img src="/assets/icons/copy.svg" alt="" draggable="false" />
        </button>
      </div>
    </div>
  </div>

  <% } else{%>
  <form
    class="fileUploadForm popoverForm"
    method="POST"
    action="/upload"
    enctype="multipart/form-data"
  >
    <button class="uploadSelectBtn" type="button">
      <div class="uploadBtnInstruction">
        <img src="/assets/icons/add_photo.svg" alt="" draggable="false" />
        <p>Click here to select an image</p>
      </div>
    </button>
    <input type="file" name="selected_image" id="imagePicker" />

    <div class="inputField">
      <label for="filePasswordInput">
        <img src="/assets/icons/lock.svg" alt="" /> Secure with a password
        (Optional)</label
      >
      <div class="passwordInputField">
        <input
          type="password"
          name="filePasswordInput"
          id="filePasswordInput"
          maxlength="8"
          autocomplete="off"
        />
        <button type="button" class="passwordVisibilityBtn passwordInvisible">
          <img
            src="/assets/icons/password_not_visible.svg"
            alt="show password"
          />
        </button>
      </div>
    </div>

    <div class="expiryDatefield">
      <p class="expiryDatefieldTitle">
        <img src="/assets/icons/schedule.svg" alt="" />
        Expiry date:
      </p>
      <div class="radioGroup">
        <input type="radio" name="expiryDate" id="radio_1" value="1" checked />
        <label class="radio_label" for="radio_1">1 day</label>

        <input type="radio" name="expiryDate" id="radio_2" value="3" />
        <label class="radio_label" for="radio_2">3 days</label>

        <input type="radio" name="expiryDate" id="radio_3" value="7" />
        <label class="radio_label" for="radio_3">7 days</label>

        <input type="radio" name="expiryDate" id="radio_4" value="15" />
        <label class="radio_label" for="radio_4">15 days</label>
      </div>
    </div>
    <button type="submit" class="submitBtn">Upload</button>
  </form>
  <% } %>
</dialog>
