<div class="fileList">
  <%- include('./folder.ejs') %><%- include('./folder.ejs') %><%-
  include('./folder.ejs') %><%- include('./folder.ejs') %><%-
  include('./folder.ejs') %><%- include('./folder.ejs') %>
</div>
