<div class="fileList">
  <div class="fileListHeader">
    <button class="createFolderBtn">
      <img src="/assets/icons/newFolder.svg" alt="" />
      Create a new folder
    </button>
  </div>

  <%-include('../forms/createFolderForm.ejs') %>
  <%-include('../forms/editFolderForm.ejs') %>
  <%-include('../forms/deleteFolderForm.ejs') %>
  <%-include('../forms/createFolderForm.ejs') %>
  <% data?.folders?.forEach(folder => { %>
  <%-include('./folder.ejs', {folderData: folder}) %>
  <% }) %>
</div>
