<div class="file" title="File">
  <div class="fileTitle">
    <img src="/assets/icons/image.svg" alt="" />
    <p class="fileDetail fileTitleText" title="Name">
      <%= postData.file_name %>
    </p>
    <% if (postData.isProtected) { %>
    <img
      class="postLockIcon"
      src="/assets/icons/lock.svg"
      alt="Lock icon"
      title="This post is password protected"
    />
    <% } %>
  </div>

  <p class="fileDetail fileSize" title="size"><%= postData.file_size%></p>
  <p class="fileDetail fileShareCode" title="Share code"><%= postData.id %></p>
  <p class="fileDetail fileCreationDate" title="Creation date">
    <%= postData.uploaded_at %>
  </p>
  <p class="fileDetail fileExpirationDate" title="Expiration date">
    <%= postData.expires_at %>
  </p>

  <div class="fileAction">
    <button class="fileDeleteBtn" title="Delete">
      <img src="/assets/icons/delete.svg" alt="Delete icon" />
    </button>
  </div>
</div>
